body {
background-color:#3D423C;
background-image:url(https://i.imgur.com/exqPs9B.jpg);
}

.label {
  color: white;
}

.leftsidepopout-box {
width: 300px;
float: left;

}

.middleviewer-box {
width: 500px;
float: left;
margin: 10px 50px;



.viewer-info-box {
  margin: 10px;
}

}

.rightsidepopout-box {
  float: right;
  margin: 10px;
}

.right-slider {
  overflow-y: scroll;
  height: 500px;
  width: 250px;
}
.sheet-viewer {

  width: 650px;
  height: 100%;
  background-color:$primary-black;
  -webkit-box-shadow: 10px 10px 47px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 47px -17px rgba(0,0,0,0.75);
box-shadow: 10px 10px 47px -17px rgba(0,0,0,0.75);
z-index: 10;
position: relative;
color:white;
font-family: $primary-font;
border-top: 2px solid white;
border-bottom: 2px solid white;
min-height: 500px;

}




.back-viewer {
  z-index: -1;
  position: absolute;
  width: 650px;
  height: 500px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color:$primary-black;
  text-align: center;

}

.sheets-new-form-box {
  margin: 10px;
  text-align: center;
}
