

.monster-init-box {
  text-align: center;
}

.right-divider {
  background-color: crimson;
  color: white;
}

.favourites-title {
  color:white;
  font-family: $primary-font;
  float: left;
  margin: 10px 50px 10px 30px;
}

.right-slider{
  border-top: 2px solid white;
}

.right-top-title{

}
