.search-container {
width: 350px;
height: 300px;
overflow-y: scroll;
border: 2px solid black;
display: inline-block;
}



.databox-single {
border: 2px solid black;
width: 300px;
height: 30px;
margin: 2px 12px 2px 12px;

.single-text {
font-family: $primary-font;
padding: 5px;
width: 250px;
position: relative;
display: inline-block;
  }

.single-level {
margin: 2px;
position: relative;
display: inline-block;
font-family: $primary-font;

}

}

.search-main-box {
  width: 350px;
  height:800px;
  margin: 5px 20px 5px 20px;
  float: left;
}

.spell-sheet-viewer {
  width: 500px;
  height: 600px;
  overflow-y: scroll;
  display: inline-block;
  border: 2px solid black;
}

.spell-sheet {
  padding: 10px;
}

.sheet-viewer {

  overflow-y: scroll;
  border: 2px solid black;
}
