.search-container {
width: 350px;
height: 500px;
overflow-y: scroll;
border: 2px solid black;
}



.spell-single {
border: 2px solid black;
width: 300px;
height: 30px;
margin: 2px 12px 2px 12px;

.single-text {
font-family: Helvetica, sans-serif;
padding: 5px;
}


}
