.search-container {
height: 275px;
overflow-y: scroll;
display: inline-block;
width: 300px;
margin: 10px;
border-top: 2px solid white;
border-bottom: 1px solid white;

}



.databox-single {
background-color: $primary-main;

width: 100%;
height: 30px;
margin: 2px 0px 2px 0px;

.single-text {
font-family: $primary-font;
padding: 5px;
width: 250px;
position: relative;
display: inline-block;
color: white;
  }

.single-level {
margin: 2px;
position: relative;
display: inline-block;
font-family: $primary-font;
color: white;

}

}
.databox-single:hover {
  background-color: #F63D09;
}
.databox-single:focus{
  background-color: white;
}
.search-main-box {
  width: 300px;
  height:800px;
  margin: 5px 20px 5px 20px;
  float: left;
}

.spell-sheet-viewer {
  width: 500px;
  height: 600px;
  overflow-y: scroll;
  display: inline-block;
}

.spell-sheet {
  padding: 10px;
}

.search-mode-buttons {
  margin: 10px 10px 10px 20px;
}
