@import 'variables';
@import 'search';
@import 'rightnav';
@import 'campaign-nav-bar';
@import 'main';

.navbar-default {
  background-color:crimson;
  background-image: none;
  background-repeat: no-repeat;

 }
